*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
:root
{
    --aside-background-color: #E7E4E5;
    --article-background-color: #F2F2F2;
    --buscar-background-color: #fb9b7b;
    --buscador-font-size: 1rem;
    --video-titulo-font-size: 1.2rem;
    --video-size-x: 100%;
    --video-size-y: 50%;
    --video-font-color: #fb9b7b;
    --video-description-color: #727272;
    --video-titulo-weight: bold;
    --foto-color-comentario: #91D9D9;
    --texto-comentario-color: #727272;
    --color-nuevo-video: #CDCBCB;
    --color-titulo-nuevo-video: #ffffffff;
}
body
{
    width: 100vw;
    height: 100vh;
}
header
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--buscar-background-color);
    height: 15%;
}
.buscador
{
    display: flex;
    align-items: center;
    padding-left: 1vw;
    background-color: white;
    height: 45%;
    width: 50%;
    font-size: var(--buscador-font-size)
}   
.buscadorButton
{
    position: relative;
    left: 2vw;
    background-color: white;
    height: 45%;
    aspect-ratio: 1/1;
}
main
{
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
}
article
{
    background-color: var(--article-background-color);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 60%;
}

iframe
{
 width: var(--video-size-x);
 height: var(--video-size-y);
}
main article header
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20%;
    background-color: var(--article-background-color);
}
.titulo
{
    display: flex;
    width: 80%;
    align-self: center;
    justify-self: flex-start;
    position: relative;
    bottom: 10%;
    font-size: var(--video-titulo-font-size);
    font-weight: var(--video-titulo-weight);
    color: var(--video-font-color);
}
.subtitulo
{
    width: 80%;
    align-self: center  ;
    justify-self: center; 
    position: relative;
    text-align: center;
    bottom: 1%;
    color: var(--video-description-color);
}
footer
{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
}
footer  >.comentario
{
    margin-left: 2vw;
    width: 80%;
    height: 25%;
    display: flex;
    align-items: flex-start;
}
.textoComentario
{
    text-align: center;
    width: 90%;
    padding-left: 5%;
    color: var(--texto-comentario-color);
}
.fotoComentario
{
    height: 120%;
    aspect-ratio: 1/1;
    background-color: var(--foto-color-comentario);
}
aside
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--aside-background-color);
    height: 100%;
    width: 30%;
}
.nuevoVideo
{
    width: 80%;
    height: 15%;
    display: flex;
    justify-content: center;
    .fotoNuevoVideo
    {
        width: 40%;
        aspect-ratio: 16/9;
        background-color: var(--color-nuevo-video);
    }
    .textoNuevoVideo
    {
        width: 70%;
        header
        {
            background-color: var(--aside-background-color);
            font-weight: bolder;
            color: #ffffffff;
            justify-content: start;
            font-size: 1.1rem;
            width: 100%;
            height: auto;
        }
        article
        {
            font-weight: bold;
            background-color: var(--aside-background-color);
            justify-content: start;
            font-size: 0.9rem;
            width: 100%;
            height: auto;
            color: #ffffffff;
        }
        padding-left: 10%;
        
    }
}
